/* RESET*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
	box-sizing: border-box;}

*, *::before, *::after {
	box-sizing: border-box;
	}

ol, ul {
	list-style-type: none;}

img {
	max-width: 100%;
	width: 100%;}



/*Costomization*/

body {
	font-family:'Open Sans', sans-serif;
	font-size: 15px;
	line-height: 26px;
	color: #777777;}


h1,
h2,
h3,
h4 {
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	text-transform: uppercase;
	line-height: 1.2;
	color: #181818; }

h1 {
	color:#f5f5f5;
	font-size: 26px;
	letter-spacing: 0.2em;
	padding:50px 30px 90px;
	opacity: 0.9;}

h2.marg_bottom {
	font-size: 18px;
	color: black;
	letter-spacing: 0.5em;
	/*padding-top: 20px;*/
	
	margin-bottom: 35px;
	/*padding-left: 40px;*/}

img+h3 {
	font-size: 15px;
	color: #777777;
	letter-spacing:0.4em;
	text-align: center;
	padding-top: 24px;
	padding-bottom: 10px;}

.et-line+p {
	margin-top: 27px;}


a {
	text-decoration: none;
	color: #ffffff;}

.cite {
	font-size: 11px;
	font-weight: 400;
	line-height: 38px;
	letter-spacing: 0.3em;
	padding-top: 13px;
	text-transform: uppercase;
}


.page {
	position: relative;
	overflow: hidden;
	min-height: 100vh;}

.site-header {
	z-index: 1;
	position: absolute;
	padding: 25px 15px;
	left: 0;
	right: 0;
	top: 0;}

.header-inner {
	display: flex;
	/*justify-content: space-between;*/
	align-items: center;
	flex-wrap: wrap;
	flex-direction: column;}


a.logo {
	max-width: 100%;
	width: 100%;
	height: 100%;}

.navigation_items {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;}

.navigation_items li {
	font-size: 11px;
	opacity:0.75;
	font-weight: 300;
	letter-spacing: 0.3em;
	line-height: 1.2;
	text-decoration: none;
	padding-bottom: 10px;
	padding-left:0; }

.top_page {
	display: flex;
	flex-direction: column;
	justify-content: center;}

.link_down {
	position: absolute;
	bottom: 35px;
	left: 50%;
	display: inline-block;
	background: white;
	padding: 1px 9.18px;
	border-radius: 4px;
	transform: translate(-50%,-50%) rotate(45deg);
	color:#272727;}

.link_down i {
		transform: rotate(-45deg);}

.link_botom {
	display: inline-block;
    padding: 7px 39px;
    margin-top: 35px; 
    text-decoration: none;
    color: #111111;
    text-transform: uppercase;
    font-size: 14px;
    letter-spacing: 0.2em;
    line-height: 26px;
    background: #cfcfcf;
    border-radius: 2px;
    
    
}

.section_1 {
	height: 100vh;
	position: relative;
	display: flex;
	flex-direction: column;
	justify-content: center; 
	background-image: url('../images/S1-BG.jpg');
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	text-align: center;}

.section_1 p {
	font-size: 19px;
	font-family: 'Open Sans', sans-serif;
	font-weight: 300;
	color: #dfdfdf;
	opacity: 0.68; }

.section_2 {
 	padding-top: 135px;
	padding-bottom: 125px;
	border-bottom: 1px solid #ededed;}

.section_3 {
	padding-top: 15px;
	padding-bottom: 145px;}

.section_4 {
	background: black;
	padding-top: 15px;
	padding-bottom: 15px;}

.container {
	max-width: 1200px;
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	padding-left: 15px;
	padding-right: 15px;}

.row1 {
	overflow: auto;
	margin-right: -15px;
	margin-left: -15px;}


.row1:after {
	content:"";
	display: table;
	clear: both;}

.flex_icon_wrap {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	align-content: center;
	flex-wrap: wrap;
	margin-top: 10px;
	margin-bottom: 53px;
	text-transform: uppercase;}

[class*="column_"]{
	width: 100%;
	padding-left: 15px;
	padding-right: 15px;}
 
.icon_wrap_5to12 {
	display: inline-block;
	text-align: center;
	margin:15px 15px;
}


.icon_size {
	font-size: 48px;
}


.quote {
	font-weight: 300;
	font-size: 21px;
	line-height: 1.584em;}

.subicon_text {
	font-size:14px;
	line-height:1.2;
	letter-spacing:0.4em;
	font-family: 'Dosis', sans-serif;
}
.column_4b {
	font-weight: 300;
	font-size: 15px;
	margin-bottom: 15px;}

.team-member {
	margin-top: 80px;
	vertical-align: middle;
	font-family: 'Dosis', sans-serif;
	font-weight: 400;
	font-size: 12px;
	letter-spacing:0.4em;
	line-height: 1.2;
	text-align: center;}

.title_center {
	text-align: center;}

.row_flax {
	display: flex;
	width: 100%;
	flex-direction: column;
	justify-content: space-around;}

.prephoto_text_position {
	max-width: 100%;
	margin-right:15px;
	margin-left: 15px;
	margin-bottom: 20px;}

.prephoto_text_position h4{
	color: #ffffff;
	font-size: 18px;
	font-weight: 300;
	line-height: 26px;
	letter-spacing: 0.3em;
	margin-top: 119px;
	margin-bottom: 17px;}

.photo_position {
	/*background-image: url(../images/М22.png);*/
	position: relative;
	margin: 20px 15px;
	background-size: contain;
	background-position: center;
	background-repeat: no-repeat;
	overflow: hidden;}

.animation_rolling {
	position: absolute;
	overflow: hidden;
	top:10px;
	left: 10px;
	padding-right: 15px;
	padding-left: 4px;
	padding-top: 3px;
	max-height: 148px;
}


/*.rolling_img_wr {
	min-height: 421px;
	min-width:530px;
	padding: 25px 24.5px 97px;}*/


@media (min-width: 720px){
	h1 {font-size: 28px;
		letter-spacing: 1em;}}

@media (min-width: 992px){
	h1 {font-size: 30px;
		letter-spacing: 1.7em;}}

@media (min-width: 650px) {
	.navigation_items {
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;
	list-style-type: none;}}
	
@media (min-width: 650px) {
	.navigation_items li {padding-left:36px;}}


@media (min-width: 650px) {
	.header-inner {
		display: flex;
		justify-content: space-between;
		align-items: center;
		flex-direction: row;}}

@media (min-width: 768px){
	.column_4b{
		width: 33.3333%;
		float: left;
		}}


@media (max-width: 650px ) { 
	.section_2 {
 	padding-top: 70px;
	padding-bottom: 125px;}}


@media (min-width: 767px ) {
	h2.marg_bottom {
	margin-bottom: 65px;}}

@media (max-width: 767px)  {
	.team-member {
	margin-top: 70px;}}

@media (min-width: 881px) {
	 .quote  {
	font-size:24px; }}

@media (min-width: 767px ){
.section_3 {
	padding-top: 136px;
	padding-bottom: 144px;}
.flex_icon_wrap  {margin-top: 40px;}
.row_flax {
	display: flex;
	width: 100%;
	flex-direction: row;
	justify-content: space-around;
	overflow: visible;}
.prephoto_text_position {
	max-width: 50%;
	margin-right:15px;
	margin-left: 15px;}
.photo_position {
	background-image: url(../images/М22.png);
	overflow: hidden;
	transform: translate(0,-48px);}
.animation_rolling {
	position: absolute;
	overflow: hidden;
	top:10px;
	left: 10px;
	padding-right: 30px;
	padding-left: 18px;
	padding-top: 15px;
	max-height: 310px;}}